# Actividad 3 
Uso del archivo base de dato del la Estación climatológica de Comondú, Baja California Sur. Con uso de biblioteca Pandas

In [ ]:
#Librerías
import numpy as np
import pandas as pd

In [ ]:
# También la función read_csv permite leer archivos públicos en Internet.
#leer archivo de la estación climatológica. Tomar la dirección URL del archivo en formato 'raw'
url = "https://raw.githubusercontent.com/Ferna45/Fisica-Computacional-1/master/Actividad-3/BasedeDatos.txt"

# Definimos los nombres de las columnas
# uso en encoding latin1 para que pueda leer los datos
# El separador de datos es de uno o más espacios, sep='\s+'
# Se procesan los datos utilizando Python, engine='python' 

df_BCS = pd.read_csv(url, header =2 , skiprows=14, skipfooter=1, sep='\s+', encoding='latin-1',names=['Fecha', 'Precip', 'Evap', 'TMax', 'TMin'], engine='python')
print(df)

            Fecha Precip  Evap  TMax  TMin
0      01/03/1957      0  Nulo    17    13
1      02/03/1957      0  Nulo    23     7
2      03/03/1957      0  Nulo    22     8
3      04/03/1957      0  Nulo    21     7
4      05/03/1957      0  Nulo    28    11
...           ...    ...   ...   ...   ...
21628  27/12/2017      0   2.4    32    12
21629  28/12/2017      0   4.1  31.6  12.5
21630  29/12/2017      0   3.6  29.5  12.7
21631  30/12/2017      0   2.6    25    12
21632  31/12/2017      0  Nulo    25  15.2

[21633 rows x 5 columns]

**Aquí solo vamos a leer el archivo donde se encuentra la base de datos de la estación de Comondú, Baja California Sur.**

In [ ]:
#Imprime el encabezado y final del dataframe para los primeros 10 datos y ultimos 10
print(df_BCS.head(10))
print(df_BCS.tail(10))

        Fecha Precip  Evap TMax TMin
0  01/03/1957      0  Nulo   17   13
1  02/03/1957      0  Nulo   23    7
2  03/03/1957      0  Nulo   22    8
3  04/03/1957      0  Nulo   21    7
4  05/03/1957      0  Nulo   28   11
5  06/03/1957      0  Nulo   27   10
6  07/03/1957      0  Nulo   31   11
7  08/03/1957      0  Nulo   31   10
8  09/03/1957      0  Nulo   31   13
9  10/03/1957      0  Nulo   21   13
            Fecha Precip  Evap  TMax  TMin
21623  22/12/2017      0   2.8  27.8    11
21624  23/12/2017      0   4.4  31.2    11
21625  24/12/2017      0   2.4  23.4  10.2
21626  25/12/2017      0   2.7  31.2  12.1
21627  26/12/2017      0   3.8  32.4  11.2
21628  27/12/2017      0   2.4    32    12
21629  28/12/2017      0   4.1  31.6  12.5
21630  29/12/2017      0   3.6  29.5  12.7
21631  30/12/2017      0   2.6    25    12
21632  31/12/2017      0  Nulo    25  15.2

In [ ]:
#¿Qué dimensiones tiene tu dataframe?
# Investigamos su tamaño con la función shape (renglones, columnas)
df_BCS.shape

(21633, 5)

In [ ]:
#¿Cómo es el contenido de tu dataframe?
# Información del dataframe
df_BCS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21633 entries, 0 to 21632
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   21633 non-null  object
 1   Precip  21633 non-null  object
 2   Evap    21633 non-null  object
 3   TMax    21633 non-null  object
 4   TMin    21633 non-null  object
dtypes: object(5)
memory usage: 845.2+ KB

In [ ]:
# Hacemos una copia de trabajo y preservamos el dataframe original
df_Comondu = df_BCS.copy()
df_Comondu.head()

        Fecha Precip  Evap TMax TMin
0  01/03/1957      0  Nulo   17   13
1  02/03/1957      0  Nulo   23    7
2  03/03/1957      0  Nulo   22    8
3  04/03/1957      0  Nulo   21    7
4  05/03/1957      0  Nulo   28   11

In [ ]:
# Reemplazamos los textos 'Nulo' por espacio en blanco ''
str_Nulo = 'Nulo'
df_Final = df_Comondu.replace(to_replace=str_Nulo, value='', regex=True)
df_Final.head()

        Fecha Precip Evap TMax TMin
0  01/03/1957      0        17   13
1  02/03/1957      0        23    7
2  03/03/1957      0        22    8
3  04/03/1957      0        21    7
4  05/03/1957      0        28   11

In [ ]:
# Imprimimos la información actualizada del dataframe
df_Final.info()
print(df_Final.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21633 entries, 0 to 21632
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   21633 non-null  object
 1   Precip  21633 non-null  object
 2   Evap    21633 non-null  object
 3   TMax    21633 non-null  object
 4   TMin    21633 non-null  object
dtypes: object(5)
memory usage: 845.2+ KB
        Fecha Precip Evap TMax TMin
0  01/03/1957      0        17   13
1  02/03/1957      0        23    7
2  03/03/1957      0        22    8
3  04/03/1957      0        21    7
4  05/03/1957      0        28   11

# Convirtiendo objetos a números flotantes
Separamos los datos que son reales o flotantes de la columnas de Precipitación, Evaporación, Temperatura Mínima y Temperatura Máxima.

In [ ]:
#Deseamos convertir el valor de las variables ambientales a numeros flotantes
cols_list = ['Precip', 'Evap', 'TMax', 'TMin']
for cols in cols_list:
  df_Final[cols] = pd.to_numeric(df_Final[cols], errors='coerce')

df_Final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21633 entries, 0 to 21632
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   21633 non-null  object
 1   Precip  21582 non-null  float64
 2   Evap    19448 non-null  float64
 3   TMax    21576 non-null  float64
 4   TMin    21588 non-null  float64
dtypes: float64(4), object(1)
memory usage: 845.2+ KB

In [ ]:
# De la instrucción anterior, vemos que hay valores faltantes.
#Sumamos los valores nulos. 
df_Final.isnull().sum()

Fecha        0
Precip      51
Evap      2185
TMax        57
TMin        45
dtype: int64

In [ ]:
print(df_Final.head(5))
print(df_Final.head(5))

        Fecha  Precip  Evap  TMax  TMin
0  01/03/1957     0.0   NaN  17.0  13.0
1  02/03/1957     0.0   NaN  23.0   7.0
2  03/03/1957     0.0   NaN  22.0   8.0
3  04/03/1957     0.0   NaN  21.0   7.0
4  05/03/1957     0.0   NaN  28.0  11.0
        Fecha  Precip  Evap  TMax  TMin
0  01/03/1957     0.0   NaN  17.0  13.0
1  02/03/1957     0.0   NaN  23.0   7.0
2  03/03/1957     0.0   NaN  22.0   8.0
3  04/03/1957     0.0   NaN  21.0   7.0
4  05/03/1957     0.0   NaN  28.0  11.0

In [ ]:
#Un análisis estadístico breve de las variables numéricas redondeado a 2 cifras significativas
df_Final.describe().round(2)

         Precip      Evap      TMax      TMin
count  21582.00  19448.00  21576.00  21588.00
mean       0.44      5.70     31.52     13.35
std        3.99      2.64      5.22      5.60
min        0.00      0.10     13.00     -3.00
25%        0.00      3.80     27.87      9.00
50%        0.00      5.70     31.60     12.80
75%        0.00      7.50     35.80     18.00
max      184.10     17.60     47.00     28.40

# Usaremos la variable Fecha
La variable tipo fecha, contiene mucha información condensada (Año, Mes y Día). Se busca acceder a esa información para poder usarla más adelante.

Usando una copia nueva del data frame anterior df_work1 esto para no modificar algún cambio y tener separado

In [ ]:
df_2= df_Final.copy()
df_2['Fecha'].head()

0    01/03/1957
1    02/03/1957
2    03/03/1957
3    04/03/1957
4    05/03/1957
Name: Fecha, dtype: object

# Datetime

In [ ]:
#Pandas tiene la función pd.to_datetime que convierte una cadena en tipo datetime64[ns]
# Intentamos a ver si Python reconoce el formato en nuestro caso. 
# Agregamos la opción de que el primer dato es el día (dayfirst=True)

df_2['Fecha']=pd.to_datetime(df_2['Fecha'], dayfirst=True).copy()
print(df_Final.head())

        Fecha  Precip  Evap  TMax  TMin
0  01/03/1957     0.0   NaN  17.0  13.0
1  02/03/1957     0.0   NaN  23.0   7.0
2  03/03/1957     0.0   NaN  22.0   8.0
3  04/03/1957     0.0   NaN  21.0   7.0
4  05/03/1957     0.0   NaN  28.0  11.0

In [ ]:
#Verificamos que cada variable (columna), sea del tipo que esperamos.
# Observamos que la variable Fecha es de tipo 'datetime64[ns]'
df_2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
TMax             float64
TMin             float64
dtype: object

In [ ]:
# Buscamos ahora añadir dos columnas adicionales: df['Año'], df['Mes']
# Usaremos la función .dt.year y .dt.month para extraer el Año y Mes de la Fecha
df_2['Año'] = df_2['Fecha'].dt.year
df_2['Mes'] = df_2['Fecha'].dt.month

# Verificamos que se hayan creado de forma correcta
# Tendremos ahora dos columnas adicionales que podemos utilizar para filtrar información.

print(df_2.head(5))
print(df_2.tail(5))

       Fecha  Precip  Evap  TMax  TMin   Año  Mes
0 1957-03-01     0.0   NaN  17.0  13.0  1957    3
1 1957-03-02     0.0   NaN  23.0   7.0  1957    3
2 1957-03-03     0.0   NaN  22.0   8.0  1957    3
3 1957-03-04     0.0   NaN  21.0   7.0  1957    3
4 1957-03-05     0.0   NaN  28.0  11.0  1957    3
           Fecha  Precip  Evap  TMax  TMin   Año  Mes
21628 2017-12-27     0.0   2.4  32.0  12.0  2017   12
21629 2017-12-28     0.0   4.1  31.6  12.5  2017   12
21630 2017-12-29     0.0   3.6  29.5  12.7  2017   12
21631 2017-12-30     0.0   2.6  25.0  12.0  2017   12
21632 2017-12-31     0.0   NaN  25.0  15.2  2017   12

In [ ]:
# Verificamos que Año y Mes son variables enteras.
# Hasta aquí llegaremos esta semana.

df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21633 entries, 0 to 21632
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   21633 non-null  datetime64[ns]
 1   Precip  21582 non-null  float64
 2   Evap    19448 non-null  float64
 3   TMax    21576 non-null  float64
 4   TMin    21588 non-null  float64
 5   Año     21633 non-null  int64
 6   Mes     21633 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 1.2 MB